#position {
	height:40px;
	line-height:40px;
	border-top:2px solid #f18336;
	color:#979693;
}
#position a{
	color:#333333;
}
#details .shopimg {
	width:350px;
	float:left;
}
#details .shopDetails {
    width:610px;
	float:right;
}
#details .shopDetails dl dt{
   color:#666666;
   font-weight:bold;
   border-bottom:1px solid #999999;
   padding:0 0 10px 0;
   text-indent:5px;
}
#details .shopDetails dl dd{
   border-bottom:1px dashed #999999;
   padding:15px 0 8px 0;
   text-indent:5px;
   color:#666666;
}
#details .shopDetails dl dd input.count {
	text-align:center;
	
}